.liveGame {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: $color-profile-secondary;
    border: 1px solid rgba($color-secondary, .1);
    margin-bottom: 1rem;
    text-align: center;

    @media screen and (max-width: $bp-small) {
        padding: 0;
    }

    .liveGame_blue {
        margin-bottom: 1rem;

        &--team {
            background-image:linear-gradient(to bottom,rgba(32,178,170, .8), rgba(32,178,170, .1));
            width: 1rem;
        }
    }

    .liveGame_red {

        &--team {
            background-image:linear-gradient(to top,rgba(240,128,128, .8), rgba(240,128,128, .1));
            width: 1rem;
        }
    }


    &_details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        &-type {
            display: flex;
            align-items: center;
        }

        &--type {
            margin-right: 1rem;
        }
        &--map {
            margin-right: 1rem;
        }
        &--time {
            margin-right: 1rem;
        }
        &-ban {
            margin-right: .2rem;
        }

        &--refresh {
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba($color-secondary, .1);
            cursor: pointer;
        }
    }

    &_teams {
        display: flex;
    }

    &--team {
        width: 100%;
    }
    


    &--players {
        display: grid;
        width: 100%;
        grid-template-columns:minmax(5rem,1fr) minmax(4rem,1fr) minmax(min-content,1fr) minmax(min-content,1fr) min-content;
        justify-items: center;
        align-items: center;
        border: 2px solid rgba($color-secondary, .2);

        @media screen and (max-width: 1500px) {
            grid-template-columns:minmax(5rem,1fr) minmax(4rem,1fr) minmax(min-content,1fr) max-content min-content;
        }

        &:not(:last-child) {
            border-bottom: none;
        }

        &_matchPlayed {
            color: $color-paragraph;
            font-weight:lighter;
        }

        &_basic {
            display: grid;
            grid-template-columns: repeat(3,min-content) 1fr;
            justify-self: left;
            align-self: center;

            
            @media screen and (max-width: 400px) {
                display: grid;
                grid-template-columns: repeat(4,min-content);
                grid-template-rows: min-content min-content;
                justify-self: left;
                column-gap: .3rem;
            }
        }

        &-icon {
            margin: .5rem;
            margin-left: .2rem;

            @media screen and (max-width: $bp-small) {
                margin: 0;
                margin-left: 0;
            }
            @media screen and (max-width: 400px) {
                justify-self: left;
            }
            img {
                width: 3rem;
                height: 3rem;
                margin: 0;
            }
        }

        &-name {
            text-align: left;
            text-decoration: none;
            color: inherit;
            font-weight: bold;
            margin-left: 1rem;
            cursor: pointer;
            white-space: nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            align-self: center;
           // @media screen and (max-width: 550px) {
            //    width: 6rem;
            //}
            
            @media screen and (max-width: 400px) {
                justify-self: left;
                grid-column: 1/-1;
            }
            &:hover {
                text-decoration: underline;
            }
        }

        &-spell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 3rem;
            align-self: center;

            img {
                width: 1.3rem;
                height: 1.3rem;
            }
            @media screen and (max-width: 400px) {
                justify-self: left;
            }
        }

        &-runes {
            align-self: center;
            text-align: center;
            img {
                width: 1.3rem;
                height: 1.3rem;
                background-color: $color-black;
                border-radius: 50%;
            }

            &_1 {
                img {
                    background-color: $color-black;
                    border-radius: 50%;
                }   
            }
            &_2 {
                img {
                    background-color: rgba($color-profile-primary,.2);
                    border-radius: 50%;
                }   
            }
            @media screen and (max-width: 400px) {
                justify-self: left;
            }
        }

        &-rank {
            display: grid;
            grid-template-columns: min-content 1fr;

            &_name {
                white-space: nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                font-weight: 600;

                @media screen and (max-width: $bp-small) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, min-content);
                }
            }
            @media screen and (max-width: $bp-small) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, min-content);
            }

            img {
                width: 2rem;
                height: 2rem;
                object-fit: cover;
                margin-right: .5rem;
            }
        }

        &-fullRunes {
            display: flex;
            flex-direction: column;
            padding-top: .3rem;
            padding-bottom: .3rem;
            margin-right: .5rem;

            &_P {
                display: flex;

                & > * {
                    margin-right: .3rem;
                    margin-left: .3rem;
                    margin-bottom: .3rem;
                }
            }

            &_S {
                display: flex;
                & > * {
                    margin-right: .3rem;
                    margin-left: .3rem;
                }
            }

            img {
                width: 2rem;
                height: 2rem;
            }
        }

        &-wr {
            display: flex;
            flex-direction: column;
        }

        &-ban {
            justify-self: right;
            img {
                width: 3rem;
                height: 3rem;
                margin-right: .2rem;
                filter: grayscale(1);
                
            }
        }
    }

    &__error {
        width: 100%;
        font-size: 1.4rem;
        padding: 1rem;
        background-color: $color-profile-secondary;
        border: 1px solid rgba($color-secondary, .1);
        margin-bottom: 1rem;
        text-align: center;
    }
}

.refresh_liveGame1 {
    font-size: 1.4rem;
    padding: 1rem;
    background-color: $color-profile-secondary;
    border: 1px solid rgba($color-secondary, .1);
    outline: none;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        border: 1px solid rgba($color-black, .1);
        text-decoration: underline;
    }
}
.refresh_liveGame2 {
    font-size: 1.4rem;
    padding: 1rem;
    background-color: $color-profile-secondary;
    border: 1px solid rgba($color-secondary, .1);
    outline: none;
    cursor: pointer;
    transition: all .2s;
    border-bottom: none;

    &:hover {
        text-decoration: underline;
    }
}

.btn_runes {
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid rgba($color-secondary,.2);
    padding: .5rem;
    background-color: $color-violet;
}
.btn_runes1 {
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid rgba($color-secondary,.2);
    padding: .5rem;
    background-color: $color-violet;
}

.runes_tooltip {
    display: flex;
    & > * {
        margin-bottom: .8rem;
        margin-right: 1rem;

        & > * {
            margin-bottom: .8rem;
        }
    }

    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }
}